*{
  margin: 0%;
  padding:0% ;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
   background-image: url(https://i.pinimg.com/736x/e6/24/5f/e6245f3fd20a578d667c5ac5ac486335.jpg);
  background-size: 100%;
}
.main {
  width: 100%;
  height: 100%;
 
 }
 .heading{
  font-weight: bolder;
 font-size: xx-large;
 font-family: sans-serif;
  padding-top: 50px;
  color: rgb(237, 29, 140);
  display: flex;
  justify-content: center;
 }
.ToDo{
  width: 75%;
  background-color: rgb(118, 193, 206);
  border: 1px solid  goldenrod;
  border-radius: 15px;
  position: absolute;
 
  top:35%;
  left: 150px;
  /* transform: translate(-50%,-50%) */

}
.ToDo h2{
  text-align: center;
  margin-top: 10px;
  color: #010a0e;
   letter-spacing: .15em;
  font-size: 1.8em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Todo_heading{
  margin: 20px;
  display: flex;
  color: #696e79;
  justify-content: space-around;
}
.enter_todo{
  width: 50%;
  height: 30px;
  margin-right: 50px;
  padding-right: 40px;
  padding-left: 40px;
  border: 1px solid aquamarine;
  border-radius: 10px;
}
.btn-add{
   margin-left:70px ;
   width: 100px;
   cursor: pointer;
   color: green;
   font-weight: 700;
   background-color: rgb(201, 226, 226);
   border: 1px solid aquamarine ;
   border-radius: 15px;
   
}
.to-list{
  display: flex;
  margin-left: 50px;
  flex-wrap: wrap;

}

.todo-list{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: 400;
 font-size: large;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-left: 20px;
  padding-left: 150px;
  padding-right: 50px;

}
.todo-date{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  padding-left: 50px;
}
.btn{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-top: 10px;
}
#belete-button{
   margin-left:50px ;
   margin-bottom: 10px;
   width: 100px;
   cursor: pointer;
   color: rgb(213, 51, 7);
   font-weight: 700;
   background-color: darkorange;
   border: 1px solid rgb(189, 5, 5) ;
   border-radius: 15px;
}
#done-button{
  margin-left:5px ;
   margin-bottom: 10px;
   width: 75px;
   cursor: pointer;
   color: rgb(17, 91, 5);
   font-weight: 700;
   background-color: white;
   border: 1px solid rgb(5, 105, 20) ;
   border-radius: 15px;
}
.todo-list-click{
text-decoration: line-through;
color: #646870;
font-weight: 500;
}