*{
  margin: 0%;
  padding:0% ;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
   background-image: url(https://i.pinimg.com/736x/e6/24/5f/e6245f3fd20a578d667c5ac5ac486335.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.main {
  width: 100%;
  height: 100vh;
  padding: 50px;
  display: flex;
 flex-direction: column;
  align-items: center;
 }
 
.ToDo{
  width: 100%;
  max-width: 800px;
  background-color: rgb(118, 193, 206);
  border: 1px solid  goldenrod;
  border-radius: 15px;
  padding-bottom: 20px;
  margin-top: 60px;

}
.ToDo h2{
  text-align: center;
  margin: 20px 0;
  color: #010a0e;
   letter-spacing: .15em;
  font-size: 1.8em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Todo_heading{
  margin: 20px;
  display: flex;
  gap: 10px;
  color: #696e79;
  justify-content: center;
  flex-wrap: wrap ;
}
.enter_todo{
  flex: 2;
  min-width: 200px;
  height: 40px;
  padding: 0 15px;
  border: 1px solid aquamarine;
  border-radius: 10px;
}
.input-date {
  flex: 1;
  min-width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid aquamarine;
  padding: 0 10px;
}
.btn-add{
   width: 100px;
   height: 40px;
   cursor: pointer;
   color: green;
   font-weight: 700;
   background-color: rgb(201, 226, 226);
   border: 1px solid aquamarine ;
   border-radius: 15px;
   
}
.todo-container {
  width: 100%;
  padding: 10px;
}
.to-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;

}

.todo-list{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: 400;
 font-size: large;
 padding-left: 20px;
 flex: 2;
  min-width: 150px;

}
.todo-date{
  font-size: 1rem;
  flex: 1;
  min-width: 100px;
  text-align: center;
}
.btn{
  height: 35px;
  padding: 0 15px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 15px
}
#belete-button{
  background-color: #ff4d4d;
  border: 1px solid #b30000;
   color: rgb(213, 51, 7);
  
}
#done-button{
  color: #115b05;
  background-color: white;
  border: 1px solid rgb(5, 105, 20);
   color: rgb(17, 91, 5);
}
.todo-list-click{
text-decoration: line-through;
color: #646870;
opacity: 0.6;
}
@media (max-width: 600px) {
  .ToDo {
    width: 95%;
  }

  .Todo_heading {
    flex-direction: column;
    align-items: stretch;
  }

  .enter_todo, .input-date, .btn-add {
    width: 100%;
    margin: 5px 0;
  }
  .enter_todo, .input-date{
   min-height: 40px;
  }

  .to-list {
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 15px;
  }

  .todo-list, .todo-date {
    width: 100%;
    margin: 5px 0;
  }
}